{% extends "authentication/root.html" %}
{% load static %}


{% block title %} Leave {% endblock title %}


{% block head %}
<style>
    .main-content {
        padding: 20px;
    }

    .main-content a{
        text-decoration: none;
        color: black;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .card {
        display: flex;
        align-items: center;
        padding: 12px;
        border: 1px solid #ccc;
        border-left: 8px solid #b8860b;
        border-radius: 4px;
        margin-bottom: 12px;
        background-color: #f0f0f0;
        cursor: pointer;
    }

    .card-icon {
        width: 40px;
        height: 40px;
        background-color: #b8860b;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 4px;
        margin-right: 12px;
        font-size: 20px;
    }
</style>
{% endblock head %}


{% block body %}

<div class="container">
    <div class="main-content">
        <h2>Expense</h2>

        <a href="{% url 'add_expense' %}" class="card-link">
            <div class="card">
                <div class="card-icon"><i class="fas fa-file-invoice-dollar"></i></div>
                <span>Add Expense</span>
            </div>
        </a>

        <a href="{% url 'add_voucher' %}" class="card-link">
            <div class="card">
                <div class="card-icon"><i class="fas fa-plus-square"></i></div>
                <span>Add Voucher</span>
            </div>
        </a>

        <a href="{% url 'recent_expenses' %}" class="card-link">
            <div class="card">
                <div class="card-icon"><i class="fas fa-clock"></i></div>
                <span>Recent Applications</span>
            </div>
        </a>

        <a href="#" class="card-link">
            <div class="card">
                <div class="card-icon"><i class="fas fa-check"></i></div>
                <span>Approved Applications</span>
            </div>
        </a>

        <a href="#" class="card-link">
            <div class="card">
                <div class="card-icon"><i class="fas fa-times"></i></div>
                <span>Rejected Applications</span>
            </div>
        </a>

        <!-- <a href="#" class="card-link">
            <div class="card">
                <div class="card-icon"><i class="fas fa-hourglass-end"></i></div>
                <span>Lapsed Applications</span>
            </div>
        </a> -->
    </div>
</div>

{% endblock body %}